@import 'scss/hover.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

$gunMetal: #212730;
$jonquil: #F5CC00;


.bg-gunMetal {
    background-color: $gunMetal;
}

.bg-jonquil {
    background-color: $jonquil;
}

.text-gunMetal {
    color: $gunMetal;
}

.text-jonquil {
    color: $jonquil;
}

/* hide scroll bar but keep fonctionality */

.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}